.dropdown-menu {
    display: block;
}

.cursor-pointer {
    cursor: pointer;
}

.offer-admin-product-item {
    .product-item {
        background-color: #4d69e6;
    }

    .add-on-item {
        background-color: #17a7e6;
    }
}