.offer-admin {
  .offer-card {
      width: 100%;
  }

  .offer-card-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-card-image {
    width: 100%;
  }
}
